.nav{
   padding: 5rem 2rem;
   z-index: 1000;
   display: flex;
   background: $color-white;
  &__list{
    position: relative;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
   &--item{
      position: relative;
      text-align: center;
      width: 15rem;
      margin: 1rem 2rem;
      padding: 1rem 2rem;
      font-size: 2.4rem;
      text-transform: uppercase;
      border-bottom: 3px solid rgba($color-white,.8);
      &:hover,&:active{
         color: $color-black;
         background: $color-primary-blue;
      }
   }
  }
  &__image{
     height: 8rem;
     width: 18rem;
     margin-left: 2rem;
     cursor: pointer;
  }
   @include respond(phone){
     flex-flow: column;
     align-items: stretch;
     & > *{
     height: 8rem;
     padding: 1rem 2rem;
     }
     &__image{
       align-self: center;
     }
   }
}
