.pagination{

     margin-bottom: 5rem;
  &__minus{
     cursor: pointer;
     font-size: 2rem;
     padding: .5rem;
     &:hover{
       border-bottom: 2px solid $color-primary-blue;
     }
  }
  &__pageNumber{
    font-size: 2rem;
    padding: .5rem;
  }
  &__plus{
    cursor: pointer;
    font-size: 2rem;
    padding: .5rem;
    &:hover{
      border-bottom: 2px solid $color-primary-blue;
    }
  }
}
