.pagination{
     user-select: none;
     -moz-user-select: none;
     -khtml-user-select: none;
     -webkit-user-select: none;
     -o-user-select: none;
     margin-bottom: 5rem;
     letter-spacing: 5px;
  &__minus{
     cursor: pointer;
     font-size: 2rem;
     padding: .5rem 3rem;
     &:hover{
       border-bottom: 2px solid $color-primary-blue;
     }
  }
  &__pageNumber{
    font-size: 2rem;
    padding: .5rem;
  }
  &__plus{
    cursor: pointer;
    font-size: 2rem;
    padding: .5rem 3rem;
    &:hover{
      border-bottom: 2px solid $color-primary-blue;
    }
  }
}
