.myOrders{
  min-height: 90vh;
  margin: 0 10rem;
  position: relative;
  &__box{


    background: $color-grey-light-3;
    margin: 1rem;
    padding: 1rem;
    &--address{
      display: inline-block;
      // height: 50rem;
      padding: 0 3rem;
      // margin-top: .1rem;
      &-item{
         text-align:right;
      }
      &-head{
         margin-bottom: .5rem;
      }
    }
    &--hr{
      border: none;
      border-bottom: 1px dashed $color-grey;
      margin-top: .3rem;
      margin-bottom: .5rem;
    }
    &--orderId{
      margin-right:2rem;
      display: inline-block;
      font-size: 1.2rem;
       & span{
         font-weight: bolder;
       }
    }
//
//
//
  }
  @include respond(tab-port){
    margin: 0 3rem;
  }
}
